body 
{
    background-color: #1D5953;
    background: url('../images/Vector\ BG\ -\ Home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navi
{
    margin-left: 60vw;
}

i
{
    color: rgba(255, 248, 220, 0.9);
    font-size: 30px;
}

.navi a
{
    transition: 0.3s;
    text-align: center;
    width: 30px;
    position: absolute;
    top: -80px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 248, 220, 0.9);
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-top: 50px;
    border-radius: 2px;
}

.ig
{
    margin-left: 1px;
}

.fb
{
    margin-left: 61px;
}

.li
{
    margin-left: 121px;
}

.tw
{
    margin-left: 181px;
}

.navi a:hover
{
    top: -40px;
}

.navi a:active
{
    background-color: rgba(0, 0, 0, 0.5);
}

#hero
{
    font-size: 4vw;
    padding-top: 25vh;
    width: 100%;
    text-align: center;
}

#The::after, #The::before
{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

#The
{
    font-family: 'EB Garamond', serif;
    font-size: 0.5em;
    font-style: italic;
    color: #1D5953;
    font-weight: lighter;
}

#Main
{
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
    color: #1D5953;
}

#next
{
    padding-bottom: 0.7em;
    font-family: 'EB Garamond', serif;
    font-size: 0.4em;
    color: #1D5953;
}

#button
{
    transition: 0.2s;
    font-size: 0.4em;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color: cornsilk;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid cornsilk;
    border-radius: 2px 2px 2px 2px;
}

#button:active
{
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px)
{
    #hero
    {
        font-size: 30px;
        padding-top: 25vh;
        width: 100%;
        text-align: center;
        padding-top: 30vh;
    }

    .navi
    {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .navi a
    {
        position: static;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 6px;
        padding-top: 50px;
    }

    .ig
    {
        margin-left: 0;
    }
    .fb
    {
        margin-left: 0;
    }
    .li
    {
        margin-left: 0;
    }
    .tw
    {
        margin-left: 0;
    }
}